<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdzmW6-9390BUhk_s9kwP4MUQZbj8W84k</string>
	<key>GCM_SENDER_ID</key>
	<string>445533770554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test.test1</string>
	<key>PROJECT_ID</key>
	<string>datatest-7a989</string>
	<key>STORAGE_BUCKET</key>
	<string>datatest-7a989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445533770554:ios:52d073f295653010977603</string>
	<key>DATABASE_URL</key>
	<string>https://datatest-7a989-default-rtdb.firebaseio.com</string>
</dict>
</plist>